# Django
SECRET_KEY=django-insecure-change-this-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
DB_NAME=soporte_tecnico_db
DB_USER=soporte_tecnico_user
DB_PASSWORD=soporte_tecnico_pass
DB_HOST=localhost
DB_PORT=5432

# CORS
TEST_DB_NAME=languageapi_test_db
CORS_ALLOW_ALL_ORIGINS=True